@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

:root {
    --main-color: #ab4bab;
    --black-color: #1b1b1b;
    --border: 0.1rem solid rgba(195, 98, 139, 0.418);
    --color-primary: hsl(300, 6%, 6%);
    --color-secondary: hsl(300, 5%, 83%);
    --color-font: hsla(0, 0%, 100%, 0.902);

    --color-shadow: hsla(0, 0%, 100%, 0.238);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 5;
    padding: 1;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s ease;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

body {
    background-color: var(--main-color);
    height: 100vh;

}

section {
    padding: 3.5rem 7%;

}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #ffffff;
    background-color: var(--main-color);
    cursor: pointer;
}


/* header start */
.header .logo img {
    height: 11rem;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 1rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.2rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button {
    color: #000000;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
    background-color: transparent;

}


/* header end */

/* home section start */

.home {
    min-height: 100vh;
    no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: -16.5rem;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
    display: flex;
    align-items: center;
}

.home .content {
    max-width: 60rem;
    align-items: center;
    background-size: cover;
    align-items: center;

}

.home .content h3 {
    font-size: 6rem;

}

.home .content p {
    font-size: 1rem;
    font-weight: 200;
    padding: 1rem 0;
    color: var(--black-color);
    text-align: center;
}

.buttons {
color: #000000;
background-color:transparent;


}


p,
i,
h1 {
    color: var(--color-font);
}

i {
    font-size: 3.2rem;
}

h1 {
    font-size: 4.2rem;
}


section {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    margin-top: -18rem;
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.painel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 4rem;
    padding: 1rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow);
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.painel p {
    opacity: .8;
    transition: 1s ease-in;
    font-size: 14px;
}

.painel p.active {
    opacity: 1;
    color: var(--black-color);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow);
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--main-color);
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
}

.controls {
    margin-top: 3rem;
}

.controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controls #reset {
    display: none;
}

/* home section end */

/* anasayfa start */

.anasayfa .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.anasayfa .box-container .box {
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 3rem;
}

.anasayfa .box-container .box img {
    width: 100%;
    object-fit: cover;
}

/* anasayfa end */